.list-element {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}


li a:link {
  text-decoration: none;
}

li a:hover {
  box-shadow: inset 0 0 0 0;
  position: relative;
  --box-shadow-color: #07bfac;
    box-shadow: 1px 1px 1px 1px var(--box-shadow-color);
}

.intro-header {
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

h1 {
  margin-top: 1.5%;
  margin-bottom: 0;
  font-size: 50px;
}

h5 {
  margin-top: 0;
  font-size: 11;
  padding-top: 0;
}

a {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  color: #3D573D;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20;
}

img {
  position: absolute;
  width: 100%;
  height:100%;
  z-index:-1;
  left: 0;
  object-fit: cover;
}

nav {
  background-color: white;
  width: 100%;
}

body {
  margin:0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-left: 0;
}


#fade1 {
    animation-delay: 10s;
    position: absolute;
    margin-top: 22%;
    margin-left: 53%;
    font-size: 33px;
    text-align: center;
    color: white;

    -webkit-animation: fade1 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fade1 6s; /* Firefox < 16 */
        -ms-animation: fade1 6s; /* Internet Explorer */
         -o-animation: fade1 6s; /* Opera < 12.1 */
            animation: fade1 6s;
}

@keyframes fade1 {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

#fade2 {
    animation-delay: 20s;
    position: absolute;
    margin-top: 26%;
    margin-left: 58%;
    font-size: 33px;
    text-align: center;
    color: white;

    -webkit-animation: fade2 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fade2 6s; /* Firefox < 16 */
        -ms-animation: fade2 6s; /* Internet Explorer */
         -o-animation: fade2 6s; /* Opera < 12.1 */
            animation: fade2 6s;
}

@keyframes fade2 {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

#fade3 {
    animation-delay: 30s;
    position: absolute;
    margin-top: 34%;
    margin-left: 57%;
    font-size: 33px;
    text-align: center;
    color: white;

    -webkit-animation: fade3 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fade3 6s; /* Firefox < 16 */
        -ms-animation: fade3 6s; /* Internet Explorer */
         -o-animation: fade3 6s; /* Opera < 12.1 */
            animation: fade3 6s;

}

@keyframes fade3 {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
