#fade1 {
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 17%;
    text-align: center;
    color: white;

    -webkit-animation: fade1 6s;
       -moz-animation: fade1 6s;
        -ms-animation: fade1 6s;
         -o-animation: fade1 6s;
            animation: fade1 6s;
            animation-delay: 2s;
            -webkit-animation-fill-mode: forwards;
}

@keyframes fade1 {
    0% { opacity: 0; }
    100%   { opacity: 1; }
  }

#fade2 {
    opacity: 0;
    position: absolute;
    top: 34%;
    left: 75%;
    text-align: center;
    color: white;

    -webkit-animation: fade2 6s;
       -moz-animation: fade2 6s;
        -ms-animation: fade2 6s;
         -o-animation: fade2 6s;
            animation: fade2 6s;
            animation-delay: 4s;
            -webkit-animation-fill-mode: forwards;
}

@keyframes fade2 {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

#fade3 {
    opacity: 0;
    position: absolute;
    top: 79.5%;
    left: 55%;
    text-align: center;
    color: white;

    -webkit-animation: fade3 6s;
       -moz-animation: fade3 6s;
        -ms-animation: fade3 6s;
         -o-animation: fade3 6s;
            animation: fade3 6s;
            animation-delay: 6s;
            -webkit-animation-fill-mode: forwards;
}

@keyframes fade3 {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

.list-element {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.intro-header {
  color: black;
  text-align: center;
}

li a:link {
  text-decoration: none;
}

li a:hover {
  box-shadow: inset 0 0 0 0;
  position: relative;
  --box-shadow-color: #07bfac;
    box-shadow: 1px 1px 1px 1px var(--box-shadow-color);
}

h1 {
  margin-top: 1.5%;
  margin-bottom: 0;
  font-size: 50px;
}

h5 {
  margin-top: 0;
  font-size: 11;
  padding-top: 0;
}

a {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  color: #3D573D;
  font-size: 20;
}

img {
  position: absolute;
  width: 100%;
  height:100%;
  z-index:-1;
  left: 0;
  object-fit: cover;
}

nav {
  background-color: white;
  width: 100%;
  display: inline-block;
}

body {
  margin:0;
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-left: 0;
}

p {
  text-transform: uppercase;
  font-size: 35px;
  text-shadow: 2px 2px 2px #5F5F5F;
}
