.list-element {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #3D573D;
}

.radius{
  shape-outside: circle(50%) margin-box;
  width: 300px;
  height:300px;
  float: left;
  margin: 2em;
}

li a:link {
  text-decoration: none;
}

li a:hover {
  box-shadow: inset 0 0 0 0;
  position: relative;
  --box-shadow-color: #07bfac;
    box-shadow: 1px 1px 1px 1px var(--box-shadow-color);
}

a {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  color: #3D573D;
  font-size: 20;
}


ul {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-left: 0;
}

nav {
 background-color: white;
 width: 100%;
 display: inline-block;
 border-bottom: 1px solid #3D573D;
}

img {
  width: 300px;
}

p {
  color: white;
}

div {
  margin-top: 5%;
  margin-right: 15%;
  display: inline-block;
  margin-left: 9%;
}

body {
  margin:0;
  font-family: 'Josefin Sans', sans-serif;
  background: #085078;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
