li a:link {
  text-decoration: none;
}

li a:hover {
  box-shadow: inset 0 0 0 0;
  position: relative;
  --box-shadow-color: white;
    box-shadow: 1px 1px 1px 1px var(--box-shadow-color);
}

a {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  color: white;
  font-size: 20;
}

.list-element {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: white;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-left: 0;
}

nav {
 background-color:#14b7a1;
 width: 100%;
 display: inline-block;
}

img {
  width: 300px;
  float: left;
}

p {
  margin-left: 5%;
  width: 60%;
  float: left;
}

div {
  margin-top: 5%;
  display: inline-block;
  margin-left: 20%;
}

body {
  margin:0;
  font-family: 'Josefin Sans', sans-serif;
}
