<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/personalsite.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <script src="../js/personalsite.js"></script>
    <title>Contact</title>
  </head>
  <body>
    <nav class="projects-nav">
      <ul>
        <li class="list-element story"><a href="personalsite.html">Home</a></li>
        <li class="list-element story"><a href="mystory.html">My Story</a></li>
        <li class="list-element story"><a href="projects.html">Projects</a></li>
        <li class="list-element story"><a href="resume.html">Resume</a></li>
      </ul>
      <form>
        
      </form>

    </nav>
  </body>
</html>
